<form [formGroup]="signInForm">
  <div class="ui-g">
    <div class="ui-g-12 ui-md-12 ui-lg-12 ui-g-nopad">
      <div class="ui-g-12 ui-md-12 ui-lg-12">
        *Password
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-12">
        <input type="password" pInputText placeholder="Password" formControlName="password" value="password" style="color: black; background-color: white;width:100%;">
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-12 ui-g-nopad" style="text-align: right;">
        <app-fielderrors style="width:100%" [form]="signInForm" field="password" nicename="Password">
        </app-fielderrors>
      </div>
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-12 ui-g-nopad">
      <div class="ui-g-12 ui-md-12 ui-lg-12">
        *Confirm Password
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-12">
        <input id="confirmpassword" type="password" pInputText placeholder="Confirm Password" formControlName="confirmpassword"
          value="Confirm Password" style="color: black; background-color: white;width:100%;">
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-12 ui-g-nopad" style="text-align: right;">
        <app-fielderrors style="width:100%" [form]="signInForm" field="confirmpassword" nicename="Confirm Password">
        </app-fielderrors>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-g">
      <div class="ui-g-12 ui-md-12 ui-lg-12">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
          <button pButton label="Save" class="ui-button-success" (click)="onSubmit()" [disabled]="hasFormErrors()"></button>
          &nbsp;
          <button pButton label="Cancel" (click)="CancelClick()"></button>
        </div>
      </div>
    </div>
  </p-footer>
</form>
