<div class="ui-g ui-g-nopad mainHeader">
  <div class="ui-g-9 ui-md-10 ui-g-nopad" style="padding-top: 5px;padding-left:10px">
    Create a New Timesheet
  </div>
  <div class="ui-g-3 ui-md-2 ui-g-nopad">
    <div class="ui-g-3 ui-md-6"></div>
    <div class="ui-g-3 ui-md-4"></div>
    <div class="ui-g-6 ui-md-2 helpClass ui-g-nopad">
      <a style="cursor: help;"><i class="fa fa-question fa-150x" style="padding-top:2px; color:black"></i></a>
    </div>
  </div>
</div>

<div class="ui-g">
  <div class="ui-g-12 ui-md-2" style="text-align: right">
    Select a Date:
  </div>
  <div class="ui-g-12 ui-md-2">
    <p-dropdown [options]="_timePeriods" [(ngModel)]="selectTimePeriod" [style]="{'width':'100%'}"></p-dropdown>
  </div>
</div>

<div class="ui-g">
  <div class="ui-g-12 ui-md-2" style="text-align: right">
  </div>
  <div class="ui-g-12 ui-md-2">
    <p-checkbox name="groupname" binary="true" label="Create an Empty Timesheet " value="false" [(ngModel)]="selectedValues"></p-checkbox>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-12 ui-md-2" style="text-align: right">
  </div>
  <div class="ui-g-12 ui-md-2">
    <button pButton icon="fa fa-plus fa-1x" pTooltip="Create New Timesheet" tooltipPosition="bottom" class="ui-button-success"
      label="Create" (click)=CreateTS()></button>
  </div>
</div>