<p-toast [style]="{marginTop: '80px'}" position="top-center" key="saveSuccess"></p-toast>
<p-toast position="center" key="alert" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div class="ui-g ui-fluid ui-g-nopad">
      <div class="ui-g-12 ui-md-2" align="center">
        <i class="pi pi-exclamation-triangle" style="font-size: 2em;margin:2px;"></i>
      </div>
      <div class="ui-g-12 ui-md-9" align="left">
        <h3 style="margin:5px;">{{message.summary}}</h3>
      </div>
      <div class="ui-g-12 ui-md-12" align="center">
        <h4 style="margin:5px;" [innerHTML]="message.detail | sanitizeHtmlString"></h4>
      </div>
    </div>
    <div class="ui-g ui-fluid ui-g-nopad">
      <div class="ui-g-12" align="right">
        <button type="button" pButton (click)="onReject()" label="Ok" class="ui-button-secondary"></button>
      </div>
    </div>
  </ng-template>
</p-toast>
<div class="ui-g" id="header">
  <div class="ui-g-12 ui-md-6 ui-lg-6 topBar">
    <div class="ui-g-2 ui-md-2" id="minigutter">
      <span class="fa fa-bars fa-2x" (click)="OpenMenu()"></span>
    </div>
    <div class="ui-g-10 ui-md-10 ui-g-nopad">
      <img src="assets/images/ebixconsulting.png">
    </div>
  </div>
  <div class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad userInfo" id="notifications" style="text-align: right">
    <div class="ui-g-6 ui-md-8 ui-lg-9" style="text-align:right;">
      <div class="ui-g-12 ui-md-12 ui-lg-12 ui-g-nopad" style="color:crimson;">
        {{fullName}}
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-12 ui-g-nopad" style="font-size:14px;color:black;">
        {{loginTime}}
      </div>
      <!-- <div class="ui-g-12 ui-md-12 ui-lg-12 ui-g-nopad" style="font-size:14px;color:black;">
        {{passwordExpiry}}<a style="padding:0px 5px;color:dodgerblue;cursor: pointer;" (click)="changePasswordClick()">Click
          here to Change Password</a>
      </div> -->
    </div>
    <div class="ui-g-6 ui-md-4 ui-lg-3" style="text-align:right;">
      &nbsp;<button pButton icon="fa fa-key fa-2x" pTooltip="{{passwordExpiry}} Click to Change Password."
        tooltipPosition="right" (click)="changePasswordClick()" class="ui-button-raised {{changePasswordButtonClass}}"></button>&nbsp;
      &nbsp;<button pButton icon="fa fa-home fa-2x" pTooltip="Dashboard" tooltipPosition="right" (click)="navigateTo()"
        class="ui-button-raised"></button>&nbsp;
      <button pButton icon="fa fa-sign-out fa-2x" pTooltip="Logout" tooltipPosition="right" (click)="logout()" class="ui-button-raised ui-button-danger"
        style="padding-right:0px"></button>&nbsp;&nbsp;
    </div>
  </div>
</div>

<div class="ui-g ui-g-nopad" id="sideMenu">

  <div class="ui-g-2 ui-g-nopad" id="sidegutter">
    <div id="sidenav">
      <p-menu #bigMenu [model]="dashboard" class="leftNav1"></p-menu>
      <p-panelMenu #bigMenu [model]="menuItems" class="leftNav1" [multiple]="false"></p-panelMenu>
    </div>
  </div>

  <div class="ui-g-2" id="minigutter">
    <p-sidebar [(visible)]="visibleSidebar" [baseZIndex]="10000" [modal]="true">
      <div style="overflow: auto;height: 500px;scrollbar-highlight-color: aqua">
        <p-menu #smallMenu [model]="menuItems" class="leftNav1"></p-menu>
      </div>
    </p-sidebar>
  </div>

  <div id="content-body" class="ui-g-10">
    <div class="ui-g-12" style="min-height: 800px">
      <router-outlet></router-outlet>
    </div>
    <div style="text-align: center" class="ui-g-12">
      © Copyright Ebix Consulting
    </div>
  </div>

  <p-dialog [(visible)]="changePasswordDialog" blockScroll="true" [width]="500" [responsive]="true" showEffect="fade" [modal]="true">
    <p-header>
      Change Password
      <i class="fa fa-question-circle fa-150x" pTooltip="Get Help" style="cursor:help; font-size: 18px; color: orange; vertical-align: middle"
        (click)="showHelp('HolidayUpdate.htm')"></i>
    </p-header>
    <app-changepassword></app-changepassword>
  </p-dialog>

</div>
