<p-confirmDialog></p-confirmDialog>
<div class="ui-g ui-g-nopad mainHeader">
  <div class="ui-g-9 ui-md-10 ui-g-nopad" style="padding-top: 5px;padding-left:10px">
    Projects
  </div>
  <div class="ui-g-3 ui-md-2 ui-g-nopad">
    <div class="ui-g-3 ui-md-6"></div>
    <div class="ui-g-3 ui-md-4"></div>
    <div class="ui-g-6 ui-md-2 helpClass ui-g-nopad">
      <a (click)="showHelp('ProjectsSelect.htm')" style="cursor: help;"><i class="fa fa-question fa-150x" style="padding-top:2px; color:black"></i></a>
    </div>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-12 ui-md-10"></div>
  <div class="ui-g-12 ui-md-2" style="text-align: right">
    <button pButton icon="fa fa-plus fa-1x" pTooltip="Add a new project to the project billable timesheet category"
      tooltipPosition="bottom" class="ui-button-info" label="Add New Project" *ngIf="!_HasEdit" (click)=addProject()></button>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-12 ui-md-12" style="text-align: left">
    Select:
    <p-selectButton [options]="_status" [(ngModel)]="_selectedStatus" (onChange)="changeStatus()" pTooltip="Show projects that have this status"
      tooltipPosition="bottom"></p-selectButton>
  </div>
</div>

<div class="ui-g">
  <p-table #dt [columns]="cols" [value]="_projects" [paginator]="true" [rows]="20" [responsive]="false" dataKey="Id">
    <ng-template pTemplate="caption">
      <div class="ui-g ui-g-nopad recordsBar">
        <div class="ui-g-5 ui-md-5 ui-g-nopad recordsFound">{{_recData}}</div>
        <div class="ui-g-4 ui-md-4 ui-g-nopad" style="text-align: right">
          <!-- <i class="fa fa-search" style="margin:4px 4px 0 0;color:black"></i> -->
          <input type="text" pInputText placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')"
            style="width:100%">
        </div>
        <div class="ui-g-3 ui-md-3 ui-g-nopad" style="text-align: right">
          <button type="button" pButton icon="fa fa-table" label="Export" (click)="dt.exportCSV()"></button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 5em" *ngIf="!_HasEdit">Edit</th>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
        </th>
        <th style="width: 5em" *ngIf="!_HasEdit">Delete</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td style="text-align: center" *ngIf="!_HasEdit">
          <i class="fa fa-edit fa-150x" pTooltip="Click to update the data for this billing code" style="cursor:pointer;color:cyan"
            tooltipPosition="bottom" (click)="editProject(rowData)"></i>
        </td>
        <td *ngFor="let col of columns">
          <div *ngIf="col.header.indexOf('Inactive') >= 0">
            {{rowData[col.field] === true ? 'Yes' : 'No'}}
          </div>
          <div *ngIf="col.header.indexOf('Inactive') == -1">
            {{rowData[col.field]}}
          </div>
        </td>
        <td style="text-align: center" *ngIf="!_HasEdit">
          <i *ngIf="rowData['CanBeDeleted'] === 0" class="fa fa-times fa-150x" pTooltip="Delete this unused project"
            style="cursor:pointer;color:red" tooltipPosition="bottom" (click)="deleteProject(rowData)"></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="projectDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="500">
  <p-header>
    {{projectHdr}}
    <i class="fa fa-question-circle fa-150x" pTooltip="Get Help" style="cursor:help; font-size: 18px; color: orange; vertical-align: middle"
      (click)="showHelp('ProjectUpdate.htm')"></i>
  </p-header>
  <form [formGroup]="_frm">
    <div class="ui-g">
      <div class="ui-g-12 ui-md-12">
        <div class="ui-g-12 ui-md-12">
          Project Code *<br>
          <div style="height:5px"></div>
          <input type="text" pInputText style="width:100%" placeholder="Project Code" formControlName="projectCode"
            pToolTip="Unique project code" tooltipPosition="bottom" appendTo="body">
        </div>
      </div>
      <div class="ui-g-12 ui-md-12">
        <div class="ui-g-12 ui-md-12">
          Project Name *<br>
          <div style="height:5px"></div>
          <input type="text" pInputText style="width:100%" placeholder="Project Name" formControlName="projectName"
            pToolTip="Unique project name" tooltipPosition="bottom">
        </div>
      </div>
      <div class="ui-g-12 ui-md-12">
        <div class="ui-g-12 ui-md-12">
          Parent Company<br>
          <div style="height:5px"></div>
          <p-dropdown appendTo="body" [options]="_companies" placeholder="Select Company" formControlName="parentCompany"
            pToolTip="The company whose holiday schedule this project follows and changing this would affect existing timesheets."
            tooltipPosition="bottom" [style]="{'width':'99%'}"></p-dropdown>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12" *ngIf="_IsEdit">
        <div class="ui-g-12 ui-md-12">
          <div style="height:5px"></div>
          <p-checkbox binary="true" label="Inactive" [(ngModel)]="chkInactive" [ngModelOptions]="{standalone: true}"
            pToolTip="Check to mark this project as inactive. It will not be allowed on new timesheets 
          and will remove the associated hours from all unsubmitted timesheets."
            tooltipPosition="bottom"></p-checkbox>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12" *ngIf="_IsEdit">
        <div class="ui-g-12 ui-md-12">
          <div style="height:5px"></div>
          Created On: {{_selectedProject.CreatedOn}}
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
          <div class="ui-g-12 ui-md-12">
            <button pButton label="Save" *ngIf="!_HasEdit" (click)="saveProject()" [disabled]="hasFormErrors()"
              pTooltip="Save the data for this project" tooltipPosition="bottom"></button>
            &nbsp;
            <button pButton label="Cancel" (click)="cancelProject()"></button>
          </div>
        </div>
      </div>
    </p-footer>
  </form>
</p-dialog>
<p-sidebar [(visible)]="visibleHelp" position="right" [baseZIndex]="10000" styleClass="ui-sidebar-md sidebarHelp">
  <div [innerHtml]="helpText" class="helpDisplayClass"></div>
</p-sidebar>