.contentbody {
  background: #ffffff;
}

.positionMiddle {
  transform: translate(-50%, -50%);
  box-shadow: 0 10px 50px 0 #b3b3b3;
}

.alignText {
  padding-top: 3%;
  text-align: right;
}

.LoginButton {
  color: #fff;
  background-color: #3eb7f5 !important;
  padding: 5px 5px !important;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  transition: all 0.1s linear;
  border-color: #fff !important;
}

.LoginButton:hover {
  background-color: #2db3f8 !important;
}

.TimeSystemTitle {
  font: 400 18px/22px "Gotham SSm A", "Gotham SSm B", "Proxima Nova", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(49, 49, 49);
  text-align: center;
  text-transform: none;
}



