<p-toast position="center" key="alert" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div class="ui-g ui-fluid ui-g-nopad">
      <div class="ui-g-12 ui-md-2" align="center">
        <i class="pi pi-exclamation-triangle" style="font-size: 2em;margin:2px;"></i>
      </div>
      <div class="ui-g-12 ui-md-9" align="left">
        <h3 style="margin:5px;">{{message.summary}}</h3>
      </div>
      <div class="ui-g-12 ui-md-12" align="center">
        <h4 style="margin:5px;" [innerHTML]="message.detail | sanitizeHtmlString"></h4>
      </div>
    </div>
    <div class="ui-g ui-fluid ui-g-nopad">
      <div class="ui-g-12" align="right">
        <button type="button" pButton (click)="onReject()" label="Ok" class="ui-button-secondary"></button>
      </div>
    </div>
  </ng-template>
</p-toast>
<div class="ui-g ui-g-nopad">
  <div id="content-body" class="ui-g-12">
    <div class="ui-g-12" style="min-height: 800px">
      <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
        <div class="ui-g-12 ui-md-4 ui-lg-3 positionMiddle">
          <div class="ui-g-12 ui-md-12" align="center">
            <img src="assets/images/ebixconsulting.png" class="imageLogo">
          </div>
          <div class="ui-g-12 ui-md-12 TimeSystemTitle">
            Log in to <b>Time System</b>
          </div>
          <div class="ui-g-12 ui-md-12">
            <input id="username" type="text" pInputText placeholder="Username" formControlName="username" value="Name"
              style="color: black; background-color: white;width:100%;">
          </div>
          <div class="ui-g-12 ui-md-12 ui-g-nopad" style="text-align: right;">
            <app-fielderrors style="width:100%" [form]="signInForm" field="username" nicename="Username">
            </app-fielderrors>
          </div>
          <div class="ui-g-12 ui-md-12">
            <input type="password" pInputText placeholder="Password" formControlName="password" value="password" style="color: black; background-color: white;width:100%;">
          </div>
          <div class="ui-g-12 ui-md-12 ui-g-nopad" style="text-align: right;">
            <app-fielderrors style="width:100%" [form]="signInForm" field="password" nicename="Password">
            </app-fielderrors>
          </div>
          <div class="ui-g-12 ui-md-12">
            <button style="width:100%" pButton type="submit" [disabled]="hasFormErrors()" class="LoginButton" label="Login"></button>
          </div>
          <div class="ui-g-12 ui-md-12" align="center">
            <button style="width:100%" pButton type="button" [disabled]="hasFormErrorsForgot()" (click)="ForgotPasswordClick()"
              class="ui-button-secondary" label="Forgot Password"></button>
          </div>
        </div>
      </form>
    </div>
    <div style="text-align: center" class="ui-g-12">
      © Copyright Ebix Consulting
    </div>
  </div>
</div>