<div class="ui-g ui-g-nopad">
  <div id="content-body" class="ui-g-12">
    <div class="ui-g-12" style="min-height: 800px">
      <div class="ui-g-12 ui-md-4 ui-lg-3 positionMiddle">
        <div class="ui-g-12 ui-md-12" align="center">
          <img src="assets/images/ebixconsulting.png" class="imageLogo">
        </div>
        <div class="ui-g-12 ui-md-12 TimeSystemTitle">
          <b>TimeSystem</b> <span style="color:red;"> Error</span>
        </div>
        <div class="ui-g-12 ui-md-12" style="margin:10px 0px 30px 0px;">
          <div class="TimeSystemTitle TimeSystemErrorMessage">
            <i class="fa fa-exclamation-triangle" style="font-size:25px;padding-right:5px;"></i>
            {{DisplayMessage}}
          </div>
        </div>
        <div class="ui-g-12 ui-md-12" style="margin-bottom:10px;">
          <button style="width:100%" pButton class="LoginButton" label="Login" (click)="login()"></button>
        </div>
      </div>
    </div>
    <div style="text-align: center" class="ui-g-12">
      © Copyright Ebix Consulting
    </div>
  </div>
</div>