.tdName {
  min-width: 250px !important;
  width: 100%;
  font-weight: bold;
  text-align: left;
}

.tdValues {
  text-align: right;
  width: 100%;
  min-width: 150px;
}

.trHeader th {
  background-color: black !important;
  color: white !important;
  border: 0px;
}

.trSummary td {
  font-weight: bold;
  background-color: black !important;
  color: white !important;
  border: 0px;
}

.custombar2 .ui-scrollpanel-wrapper {
  border-right: 9px solid #757575;
  border-bottom: 9px solid #757575;
}

.custombar2 .ui-scrollpanel-bar {
  background-color: #68C77D;
  border-radius: 0;
  opacity: 1;
  transition: background-color .3s;
}

.custombar2:hover .ui-scrollpanel-bar {
  background-color: #46A55A;
}

.analysisVal {
  font-size: 24px;
  color: white;
  padding: 5px;
  text-align: right;
  min-width: 120px;
}


.cardBlock {
  min-height: 200px;
  padding: 1px;
  background-color: #ffffff;
  color: #333333;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.cardBlockHeader {
  min-height: 35px;
  border-bottom: 1px solid #e7e7e7;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.cardBlockMenuHeader {
  min-height: 30px;
  border-bottom: 1px solid darkolivegreen;
  text-align: left;
  padding-left: 5px;
  vertical-align: middle;
  font-size: 16px;
  color: dodgerblue;
}
