<div *ngIf="_IsTimeSheetSubmittedJustNow" style="height: 300px;"></div>
<div *ngIf="_IsTimeSheetSubmittedJustNow" class="ui-g ui-g-nopad warningBlock">
  <div class="ui-g-12" style="text-align: center">
    {{_submitMessage}}
  </div>
</div>
<form [formGroup]="timeSheetForm" class="" *ngIf="!_IsTimeSheetSubmittedJustNow">

  <div class="ui-g ui-g-nopad mainHeader">
    <div class="ui-g-9 ui-md-10 ui-g-nopad" style="padding-top: 5px;padding-left:10px">
      Maintain Time Sheet <i class="fa fa-question-circle fa-5x" pTooltip="Get Help"
        style="cursor:help; font-size: 25px; color: orange; vertical-align: middle;padding-bottom: 5px"></i>
    </div>
    <div class="ui-g-3 ui-md-2 ui-g-nopad">
      <div class="ui-g-3 ui-md-6"></div>
      <div class="ui-g-3 ui-md-4"></div>
      <div class="ui-g-6 ui-md-2 ui-g-nopad">
      </div>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="ui-g-12 ui-g-nopad errorBox" style="text-align: center"
        *ngIf="_errorBlock !== undefined && _errorBlock !== null && _errorBlock !== ''">
        See Error Summary Below
      </div>
      <div class="ui-g-12 ui-g-nopad warningBox" style="text-align: center"
        *ngIf="_warningBlock !== undefined && _warningBlock !== null && _warningBlock !== ''">
        See Warning Summary Below
      </div>
    </div>
  </div>
  <div class="ui-g" *ngIf="_DateArray !== undefined && _DateArray !==null && _DateArray.length>0">
    <div class="ui-g-12 ui-md-3" style="text-align: left;">
      <b>Employee Name:</b>&nbsp;&nbsp;&nbsp;{{_EmployeeName}}
    </div>
    <div class="ui-g-12 ui-md-3" style="text-align: left;">
      <b>Period Ending:</b>&nbsp;&nbsp;&nbsp;{{_periodEndDateDisplay }}
    </div>
    <div class="ui-g-12 ui-md-3" style="text-align: left;">
      <b>Submitted On:</b>&nbsp;&nbsp;&nbsp;
      {{_SubmittedOn}}
    </div>
    <div class="ui-g-12 ui-md-3" style="text-align: left;">
      <b>Resubmittal:</b>&nbsp;&nbsp;&nbsp;
      {{_Resubmittal}}
    </div>
  </div>

  <div class="ui-g" *ngIf="_DateArray !== undefined && _DateArray !==null && _DateArray.length>0">
    <div class="ui-g-12 ui-md-12">
      <p-panel class="panelEmpBilling">
        <p-header>
          Time & Materials Billable Hours
        </p-header>
        <!-- For DB Related Values -->
        <div class="ui-g">
          <div class="ui-g-12 ui-md-3">
            Client
          </div>
          <div class="ui-g-12 ui-md-8" style="padding:1px;">
            <input *ngFor="let _c of _DateArray;let i= index" readonly="readonly" value="{{ _c | date : 'EEE' }}"
              class="{{ (_weekArray[i] === 6 || _weekArray[i] === 0) ? 'weekEndLabel' : 'weekDayLabel'}}" /><br>
            <input *ngFor="let _c1 of _DateArray;let i=index" readonly="readonly" value="{{ _c1 | date : 'MM-dd' }}"
              class="{{ (_weekArray[i] === 6 || _weekArray[i] === 0) ? 'weekEndLabel' : 'weekDayLabel'}}" />
          </div>
          <div class="ui-g-12 ui-md-1" style="padding:1px">
            <b>Total</b>
          </div>
        </div>
        <div *ngIf="_timeTandM !== undefined && _timeTandM !==null && _timeTandM.length>0">
          <div class="ui-g" *ngFor="let _entry of _timeTandM;let i = index">
            <div class="ui-g-12 ui-md-3" style="padding:1px;">
              <p-dropdown [options]="tandm" formControlName="drpTandM_{{i}}" [style]="{'width':'100%'}"
                (onChange)="drpChange($event)"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-8" style="padding:1px;">
              <input *ngFor="let _c of _DateArray;let c = index" type="text"
                formControlName="txttimeTandMHours_{{i}}_{{c}}"
                [style.background-color]="_errorHourlyTANDMArray.indexOf(c) >= 0 ? _txtErrorColor: ''"
                (change)="hoursOnChange()" pInputText pKeyFilter="num"
                class="{{ (_weekArray[c] === 6 || _weekArray[c] === 0) ? 'weekEnd' : 'weekDay'}}" />
            </div>
            <div class="ui-g-12 ui-md-1" style="padding:1px">
              <input type="text" readonly="readonly" pInputText pKeyFilter="num"
                formControlName="txtTANDMWeeklyTotals_{{i}}" class="weekTotals TotalsDisabled" />
              <!-- <i class="fa fa-save fa-150x" pTooltip="Save Data" style="cursor:pointer;color:green;margin-right:5px"
                tooltipPosition="bottom" (click)="editHoliday(rowData)"></i> -->
              <i class="fa fa-remove fa-150x" pTooltip="Delete Data" style="cursor:pointer;color:red"
                *ngIf="!(_IsTimeSheetSubmitted || _isTimesheetView || _isTimesheetRejected)" tooltipPosition="bottom"
                (click)="deleteByType(_entry)"></i>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Always Show a New Line -->
        <div class="ui-g">
          <div class="ui-g-12 ui-md-3" style="padding:1px;">
            <p-dropdown [options]="tandm" formControlName="drpTandMDefault" [style]="{'width':'100%'}"
              (onChange)="drpChange($event)"></p-dropdown>
          </div>
          <div class="ui-g-12 ui-md-8" style="padding:1px;">
            <input *ngFor="let _c of _DateArray;let i = index" formControlName="txttimeTandMHoursDefault_{{i}}"
              type="text" (change)="hoursOnChange()"
              [style.background-color]="_errorHourlyTANDMArray.indexOf(i) >= 0 ? _txtErrorColor: ''" pInputText
              pKeyFilter="num" class="{{ (_weekArray[i] === 6 || _weekArray[i] === 0) ? 'weekEnd' : 'weekDay'}}" />
          </div>
          <div class="ui-g-12 ui-md-1" style="padding:1px">
            <input type="text" readonly="readonly" pInputText pKeyFilter="num"
              formControlName="txtTANDMWeeklyTotalDefault" class="weekTotals TotalsDisabled" />
            <i class="fa fa-save fa-150x" pTooltip="Save Data" style="cursor:pointer;color:green;margin-right:5px"
              *ngIf="!(this._IsTimeSheetSubmitted || this._isTimesheetView || _isTimesheetRejected)" tooltipPosition="bottom"
              (click)="saveByType(rowData,'TandM')"></i>
          </div>
        </div>
        <!-- End -->
        <div class="ui-g">
          <div class="ui-g-12 ui-md-3" style="text-align: right">
            <b>Daily Totals:</b>
          </div>
          <div class="ui-g-12 ui-md-8" style="padding:1px;">
            <input *ngFor="let _c of _DateArray;let c = index" formControlName="txtTANDMDailyTotals_{{c}}"
              readonly="readonly" [style.background-color]="_errorDailyTANDMArray.indexOf(c) >= 0 ? _txtErrorColor: ''"
              type="text" pInputText pKeyFilter="num"
              class="{{ ((_weekArray[c] === 6 || _weekArray[c] === 0) ? 'weekEnd' : 'weekDay') + ' TotalsDisabled'}}" />
          </div>
          <div class="ui-g-12 ui-md-1" style="padding:1px">
            <input type="text" readonly="readonly" pInputText pKeyFilter="num" formControlName="txtTANDMTotalWeeks"
              class="weekTotals TotalsDisabled" />
          </div>
        </div>
      </p-panel>
    </div>
  </div>

  <div class="ui-g" *ngIf="_DateArray !== undefined && _DateArray !==null && _DateArray.length>0">
    <div class="ui-g-12 ui-md-12">
      <p-panel class="panelEmpBilling">
        <p-header>
          Project Billable Hours
        </p-header>
        <!-- For DB Related Values -->
        <div class="ui-g">
          <div class="ui-g-12 ui-md-3">
            Project Name
          </div>
          <div class="ui-g-12 ui-md-8" style="padding:1px;">
            <input *ngFor="let _c of _DateArray;let i= index" readonly="readonly" value="{{ _c | date : 'EEE' }}"
              class="{{ (_weekArray[i] === 6 || _weekArray[i] === 0) ? 'weekEndLabel' : 'weekDayLabel'}}" /><br>
            <input *ngFor="let _c1 of _DateArray;let i=index" readonly="readonly" value="{{ _c1 | date : 'MM-dd' }}"
              class="{{ (_weekArray[i] === 6 || _weekArray[i] === 0) ? 'weekEndLabel' : 'weekDayLabel'}}" />
          </div>
          <div class="ui-g-12 ui-md-1" style="padding:1px">
            <b>Total</b>
          </div>
        </div>
        <div *ngIf="_timeProjBill !== undefined && _timeProjBill !==null && _timeProjBill.length>0">
          <div class="ui-g" *ngFor="let _entry of _timeProjBill;let i = index">
            <div class="ui-g-12 ui-md-3" style="padding:1px;">
              <p-dropdown [options]="projectBillable" formControlName="drpProjBill_{{i}}" [style]="{'width':'100%'}">
              </p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-8" style="padding:1px;">
              <input *ngFor="let _c of _DateArray;let c = index" type="text"
                formControlName="txtProjBillHours_{{i}}_{{c}}"
                [style.background-color]="_errorHourlyProjBillArray.indexOf(c) >= 0 ? _txtErrorColor: ''"
                (change)="hoursOnChange()" pInputText pKeyFilter="num"
                class="{{ (_weekArray[c] === 6 || _weekArray[c] === 0) ? 'weekEnd' : 'weekDay'}}" />
            </div>
            <div class="ui-g-12 ui-md-1" style="padding:1px">
              <input type="text" readonly="readonly" pInputText pKeyFilter="num"
                formControlName="txtProjBillWeeklyTotals_{{i}}" class="weekTotals TotalsDisabled" />
              <!-- <i class="fa fa-save fa-150x" pTooltip="Save Data" style="cursor:pointer;color:green;margin-right:5px"
                tooltipPosition="bottom" (click)="editHoliday(rowData)"></i> -->
              <i class="fa fa-remove fa-150x" pTooltip="Delete Data" style="cursor:pointer;color:red"
                *ngIf="!(this._IsTimeSheetSubmitted || this._isTimesheetView || _isTimesheetRejected)" tooltipPosition="bottom"
                (click)="deleteByType(_entry)"></i>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Always Show a New Line -->
        <div class="ui-g">
          <div class="ui-g-12 ui-md-3" style="padding:1px;">
            <p-dropdown [options]="projectBillable" formControlName="drpProjBillDefault" [style]="{'width':'100%'}">
            </p-dropdown>
          </div>
          <div class="ui-g-12 ui-md-8" style="padding:1px;">
            <input *ngFor="let _c of _DateArray;let i = index" formControlName="txtProjBillHoursDefault_{{i}}"
              type="text" (change)="hoursOnChange()"
              [style.background-color]="_errorHourlyProjBillArray.indexOf(i) >= 0 ? _txtErrorColor: ''" pInputText
              pKeyFilter="num" class="{{ (_weekArray[i] === 6 || _weekArray[i] === 0) ? 'weekEnd' : 'weekDay'}}" />
          </div>
          <div class="ui-g-12 ui-md-1" style="padding:1px">
            <input type="text" readonly="readonly" pInputText pKeyFilter="num"
              formControlName="txtProjBillWeeklyTotalDefault" class="weekTotals TotalsDisabled" />
            <i class="fa fa-save fa-150x" pTooltip="Save Data" style="cursor:pointer;color:green;margin-right:5px"
              *ngIf="!(this._IsTimeSheetSubmitted || this._isTimesheetView || _isTimesheetRejected)" tooltipPosition="bottom"
              (click)="saveByType(rowData,'ProjBill')"></i>
          </div>
        </div>
        <!-- End -->
        <div class="ui-g">
          <div class="ui-g-12 ui-md-3" style="text-align: right">
            <b>Daily Totals:</b>
          </div>
          <div class="ui-g-12 ui-md-8" style="padding:1px;">
            <input *ngFor="let _c of _DateArray;let c = index" formControlName="txtProjBillDailyTotals_{{c}}"
              readonly="readonly"
              [style.background-color]="_errorDailyProjBillArray.indexOf(c) >= 0 ? _txtErrorColor: ''" type="text"
              pInputText pKeyFilter="num"
              class="{{ ((_weekArray[c] === 6 || _weekArray[c] === 0) ? 'weekEnd' : 'weekDay')+' TotalsDisabled'}}" />
          </div>
          <div class="ui-g-12 ui-md-1" style="padding:1px">
            <input type="text" readonly="readonly" pInputText pKeyFilter="num" formControlName="txtProjBillTotalWeeks"
              class="weekTotals TotalsDisabled" />
          </div>
        </div>
      </p-panel>
    </div>
  </div>

  <div class="ui-g" *ngIf="_DateArray !== undefined && _DateArray !==null && _DateArray.length>0">
    <div class="ui-g-12 ui-md-12">
      <p-panel class="panelEmpBilling">
        <p-header>
          Non Billable Hours
        </p-header>
        <!-- For DB Related Values -->
        <div class="ui-g">
          <div class="ui-g-12 ui-md-3">
            Category
          </div>
          <div class="ui-g-12 ui-md-8" style="padding:1px;">
            <input *ngFor="let _c of _DateArray;let i= index" readonly="readonly" value="{{ _c | date : 'EEE' }}"
              class="{{ (_weekArray[i] === 6 || _weekArray[i] === 0) ? 'weekEndLabel' : 'weekDayLabel'}}" /><br>
            <input *ngFor="let _c1 of _DateArray;let i=index" readonly="readonly" value="{{ _c1 | date : 'MM-dd' }}"
              class="{{ (_weekArray[i] === 6 || _weekArray[i] === 0) ? 'weekEndLabel' : 'weekDayLabel'}}" />
          </div>
          <div class="ui-g-12 ui-md-1" style="padding:1px">
            <b>Total</b>
          </div>
        </div>
        <div *ngIf="_timeNONbill !== undefined && _timeNONbill !==null && _timeNONbill.length>0">
          <div class="ui-g" *ngFor="let _entry of _timeNONbill;let i = index">
            <div class="ui-g-12 ui-md-3" style="padding:1px;">
              <p-dropdown [options]="nonBillable" [style]="{'width':'100%'}" formControlName="drpNONBill_{{i}}">
              </p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-8" style="padding:1px;">
              <input *ngFor="let _c of _DateArray;let c = index" type="text"
                formControlName="txtNonBillHours_{{i}}_{{c}}"
                [style.background-color]="(_errorHourlyNonBillArray.indexOf(c) >= 0 || (_errorHourlyNonBillHolidayArray.indexOf(c) >= 0 && _errorHourlyNonBillHolidayArrayRow.indexOf(i) >=0)) ? _txtErrorColor: ''"
                (change)="hoursOnChange()" pInputText pKeyFilter="num"
                class="{{ (_weekArray[c] === 6 || _weekArray[c] === 0) ? 'weekEnd' : 'weekDay'}}" />
            </div>
            <div class="ui-g-12 ui-md-1" style="padding:1px">
              <input type="text" readonly="readonly" pInputText pKeyFilter="num"
                formControlName="txtNonBillWeeklyTotals_{{i}}" class="weekTotals TotalsDisabled" />
              <!-- <i class="fa fa-save fa-150x" pTooltip="Save Data" style="cursor:pointer;color:green;margin-right:5px"
                tooltipPosition="bottom" (click)="editHoliday(rowData)"></i> -->
              <i class="fa fa-remove fa-150x" pTooltip="Delete Data" style="cursor:pointer;color:red"
                *ngIf="!(this._IsTimeSheetSubmitted || this._isTimesheetView || _isTimesheetRejected)" tooltipPosition="bottom"
                (click)="deleteByType(_entry)"></i>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Always Show a New Line -->
        <div class="ui-g">
          <div class="ui-g-12 ui-md-3" style="padding:1px;">
            <p-dropdown [options]="nonBillable" formControlName="drpNonBillDefault" [style]="{'width':'100%'}">
            </p-dropdown>
          </div>
          <div class="ui-g-12 ui-md-8" style="padding:1px;">
            <input *ngFor="let _c of _DateArray;let i = index" formControlName="txtNonBillHoursDefault_{{i}}"
              type="text" (change)="hoursOnChange()"
              [style.background-color]="(_errorHourlyNonBillArray.indexOf(i) >= 0 || (_errorHourlyNonBillHolidayArray.indexOf(c) >= 0 && _errorHourlyNonBillHolidayArrayRow.indexOf(i) >=0)) ? _txtErrorColor: ''"
              pInputText pKeyFilter="num"
              class="{{ (_weekArray[i] === 6 || _weekArray[i] === 0) ? 'weekEnd' : 'weekDay'}}" />
          </div>
          <div class="ui-g-12 ui-md-1" style="padding:1px">
            <input type="text" readonly="readonly" pInputText pKeyFilter="num"
              formControlName="txtNonBillWeeklyTotalDefault" class="weekTotals TotalsDisabled" />
            <i class="fa fa-save fa-150x" pTooltip="Save Data" style="cursor:pointer;color:green;margin-right:5px"
              *ngIf="!(this._IsTimeSheetSubmitted || this._isTimesheetView || _isTimesheetRejected)" tooltipPosition="bottom"
              (click)="saveByType(rowData,'NonBill')"></i>
          </div>
        </div>
        <!-- End -->
        <div class="ui-g">
          <div class="ui-g-12 ui-md-3" style="text-align: right">
            <b>Daily Totals:</b>
          </div>
          <div class="ui-g-12 ui-md-8" style="padding:1px;">
            <input *ngFor="let _c of _DateArray;let c = index" formControlName="txtNonBillDailyTotals_{{c}}"
              readonly="readonly"
              [style.background-color]="_errorDailyNonBillArray.indexOf(c) >= 0 ? _txtErrorColor: ''" type="text"
              pInputText pKeyFilter="num"
              class="{{ ((_weekArray[c] === 6 || _weekArray[c] === 0) ? 'weekEnd' : 'weekDay')+' TotalsDisabled'}}" />
          </div>
          <div class="ui-g-12 ui-md-1" style="padding:1px">
            <input type="text" readonly="readonly" pInputText pKeyFilter="num" formControlName="txtNonBillTotalWeeks"
              class="weekTotals TotalsDisabled" />
          </div>
        </div>
      </p-panel>
    </div>
  </div>

  <div class="ui-g" *ngIf="_DateArray !== undefined && _DateArray !==null && _DateArray.length>0">
    <div class="ui-g-12 ui-md-12">
      <p-panel class="panelEmpBilling">
        <p-header>
          Grand Totals
        </p-header>
        <!-- For DB Related Values -->
        <div class="ui-g">
          <div class="ui-g-12 ui-md-3">

          </div>
          <div class="ui-g-12 ui-md-8" style="padding:1px;">
            <input *ngFor="let _c of _DateArray;let i= index" readonly="readonly" value="{{ _c | date : 'EEE' }}"
              class="{{ (_weekArray[i] === 6 || _weekArray[i] === 0) ? 'weekEndLabel' : 'weekDayLabel'}}" /><br>
            <input *ngFor="let _c1 of _DateArray;let i=index" readonly="readonly" value="{{ _c1 | date : 'MM-dd' }}"
              class="{{ (_weekArray[i] === 6 || _weekArray[i] === 0) ? 'weekEndLabel' : 'weekDayLabel'}}" />
          </div>
          <div class="ui-g-12 ui-md-1" style="padding:1px">
            <b>Total</b>
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-12 ui-md-3" style="text-align: right">
            <b>Grand Total:</b>
          </div>
          <div class="ui-g-12 ui-md-8" style="padding:1px;">
            <input *ngFor="let _c of _DateArray;let i = index" readonly="readonly"
              formControlName="txtDailyGrandTotal_{{i}}"
              [style.background-color]="_errorDailyGrandArray.indexOf(i) >= 0 ? _txtErrorColor: ''" type="text"
              pInputText pKeyFilter="num"
              class="{{ ((_weekArray[i] === 6 || _weekArray[i] === 0) ? 'weekEnd' : 'weekDay')+' TotalsDisabled'}}" />
            <!-- <div>
              <span [style.color]="_errorArray.indexOf(0) === 0 ? 'green': 'red'">100</span>
            </div> -->
          </div>
          <div class="ui-g-12 ui-md-1" style="padding:1px">
            <input type="text" pInputText pKeyFilter="num" readonly="readonly" formControlName="txtWeeklyGrandTotal"
              class="weekTotals TotalsDisabled" />
          </div>
        </div>
        <!-- End -->

      </p-panel>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="ui-g-12 ui-g-nopad errorBlockHeader"
        *ngIf="_errorBlock !== undefined && _errorBlock !== null && _errorBlock !== ''">
        Errors
      </div>
      <div class="ui-g-12 ui-g-nopad errorBlock"
        *ngIf="_errorBlock !== undefined && _errorBlock !== null && _errorBlock !== ''"
        [innerHTML]="_errorBlock | sanitizeHtmlString">
      </div>
      <div class="ui-g-12 warningBlockHeader"
        *ngIf="_warningBlock !== undefined && _warningBlock !== null && _warningBlock !== ''">
        Warnings
      </div>
      <div class="ui-g-12 warningBlock"
        *ngIf="_warningBlock !== undefined && _warningBlock !== null && _warningBlock !== ''"
        [innerHTML]="_warningBlock | sanitizeHtmlString">
      </div>
    </div>
  </div>
  <div class="ui-g" *ngIf="_DateArray !== undefined && _DateArray !==null && _DateArray.length>0">
    <div class="ui-g-12 ui-md-12">
      <p-panel *ngIf="_showComments">
        <p-header>
          Comments
        </p-header>
        <textarea pInputTextarea class="comments" formControlName="txtUserComments"></textarea>

        <p-footer
          *ngIf="!_IsTimeSheetSubmitted && !_isTimesheetView  && !_isTimesheetToAprrove && !_isTimesheetRejected">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-12" style="text-align: right">
              <button type="button" pButton label="Save" class="ui-button-info" (click)="Save()"></button>&nbsp;
              <button type="button" pButton label="Submit" class="ui-button-success" (click)="Submit()"></button>&nbsp;
              <button type="button" *ngIf='showConfirmSubmit' pButton label="Confirm and Submit"
                class="ui-button-success" (click)="ConfirmSubmit()"></button>
            </div>
          </div>
        </p-footer>

      </p-panel>
      <p-panel *ngIf="_isTimesheetToAprrove || _isTimesheetApprovedOrRejected">
        <p-header>
          Supervisor Comments
        </p-header>
        <textarea pInputTextarea class="comments" formControlName="txtSuperComments"></textarea>
        <p-footer *ngIf="_isTimesheetToAprrove">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-12" style="text-align: right">
              <button type="button" pButton label="Approve" (click)="Approve()"></button>&nbsp;
              <button type="button" pButton label="Reject" (click)="Reject()"></button>
            </div>
          </div>
        </p-footer>
      </p-panel>
    </div>
  </div>
  <p-progressSpinner class="positionMiddle" *ngIf="showSpinner" [style]="{width: '50px', height: '50px'}"
    strokeWidth="4" fill="#EEEEEE"></p-progressSpinner>
</form>