@media screen and (max-width: 640px) {
    body .ui-dialog{
        width: 500px !important;
    }
}
@media screen and (max-width: 880px) and (min-width: 641px) {
    body .ui-dialog {
        width: 600px !important;
    }
}
@media screen and (max-width: 1024px) and (min-width: 882px) {
    body .ui-dialog {
        width: 830px !important;
    }
}