<p-confirmDialog></p-confirmDialog>

<div class="ui-g ui-g-nopad mainHeader">
  <div class="ui-g-12 ui-md-10 ui-lg-10 ui-g-nopad" style="padding: 5px 5px 5px 10px">
    Holidays <i class="fa fa-question-circle fa-5x" pTooltip="Get Help" style="cursor:help; font-size: 25px; color: orange; vertical-align: middle;padding-bottom: 5px"
      (click)="showHelp('HolidaySelect.htm')"></i>
  </div>
  <div class="ui-g-3 ui-md-2 ui-g-nopad">
    <div class="ui-g-3 ui-md-6"></div>
    <div class="ui-g-3 ui-md-4"></div>
    <div class="ui-g-6 ui-md-2 ui-g-nopad">
      <!-- <a (click)="showHelp('HolidaySelect.htm')" style="cursor: help;"><i class="fa fa-question fa-150x" style="padding-top:2px; color:black"></i></a> -->
    </div>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-12 ui-md-10"></div>
  <div class="ui-g-12 ui-md-2" style="text-align: right">
    <button pButton icon="fa fa-plus fa-1x" pTooltip="Add a New Holiday Date" tooltipPosition="bottom" class="ui-button-info"
      label="Add New Holiday" *ngIf="!_HasEdit" (click)=addHoliday()></button>
  </div>
</div>
<p-panel [toggleable]="true" header="Filter results by:">
<div class="ui-g">
  <div class="ui-g-3 ui-md-3" style="text-align: left">
    <label class="label" style="padding:0px 10px;">Select Year:</label> <p-dropdown [options]="_years" [(ngModel)]="selectedYear" (onChange)="getHolidays()" pTooltip="Pick the year to see holidays for. All holidays for this year will be shown"
    tooltipPosition="bottom"></p-dropdown>
  </div>
</div>
</p-panel>
<div class="ui-g">&nbsp;</div>
<div class="ui-g">
  <p-table #dt [columns]="cols" [value]="_holidays" [paginator]="true" [rows]="20" [responsive]="false" dataKey="Id">
    <ng-template pTemplate="caption">
      <div class="ui-g ui-g-nopad recordsBar">
        <div class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad recordsFound">{{_recData}}</div>
        <div class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad" style="text-align: right">
          <i class="fa fa-search" style="margin:4px 4px 0 0;color:black"></i>
          <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')"
            style="width:auto"> &nbsp;
          <button type="button" pButton icon="fa fa-table" label="Export" (click)="dt.exportCSV()"></button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 5em" *ngIf="!_HasEdit">Edit</th>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width">
          {{col.header}}
        </th>
        <th style="width: 5em" *ngIf="!_HasEdit">Delete</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td style="text-align: center" *ngIf="!_HasEdit">
          <i class="fa fa-edit fa-150x editIcon" pTooltip="Click to update this holiday"
            tooltipPosition="bottom" (click)="editHoliday(rowData)"></i>
        </td>
        <td *ngFor="let col of columns" [style.width]="col.width" [style.text-align]="col.align">
          <div *ngIf="col.header.indexOf('Date') >= 0">
            {{rowData[col.field]}}
          </div>
          <div *ngIf="col.header.indexOf('Date') == -1">
            {{rowData[col.field]}}
          </div>
        </td>
        <td style="text-align: center" *ngIf="!_HasEdit">
          <i *ngIf="rowData['InUse'] === 0" class="fa fa-times fa-150x deleteIcon" pTooltip="Delete this unused holiday"
            tooltipPosition="bottom" (click)="deleteHoliday(rowData)"></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>


<p-dialog [(visible)]="holidayDialog" blockScroll="true" [responsive]="true" showEffect="fade" [modal]="true">
  <p-header>
    {{holidayHdr}}
    <i class="fa fa-question-circle fa-150x" pTooltip="Get Help" style="cursor:help; font-size: 18px; color: orange; vertical-align: middle"
      (click)="showHelp('HolidayUpdate.htm')"></i>
  </p-header>
  <form [formGroup]="_frm">
    <div class="ui-g">
      <div class="ui-g-12 ui-md-12">
        <div class="ui-g-12 ui-md-12">
          Holiday Name *<br>
          <div style="height:5px"></div>
          <input *ngIf="!_IsEdit || !(_IsEdit && (_selectedHoliday.InUse>0))" type="text" pInputText style="width:100%"
            placeholder="Holiday Name" pTooltip="The display name for the holiday" tooltipPosition="bottom"
            formControlName="holidayName">
          <label *ngIf="(_IsEdit && (_selectedHoliday.InUse>0))"><b>{{_selectedHoliday.HolidayName}}</b></label>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12">
        <div class="ui-g-12 ui-md-12">
          Date * (mm-dd-yyyy)<br>
          <div style="height:5px"></div>
          <p-calendar [showIcon]="true" [readonlyInput]="true" dateFormat="mm-dd-yy" formControlName="holidayDate"
            appendTo="body" pTooltip="Select the date for the holiday" tooltipPosition="bottom"></p-calendar>
        </div>
      </div>
    </div>
  </form>
  <p-footer>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
          <button pButton label="Save" class="ui-button-success" *ngIf="!_HasEdit" (click)="saveHoliday()" [disabled]="hasFormErrors()"
            pTooltip="Save the data for the client" tooltipPosition="bottom"></button>
          &nbsp;
          <button pButton label="Cancel" (click)="cancelHoliday()" class="ui-button-danger"></button>
        </div>
    </div>
  </p-footer>
</p-dialog>

<p-sidebar [(visible)]="visibleHelp" position="right" [baseZIndex]="10000" styleClass="ui-sidebar-md sidebarHelp">
  <div [innerHtml]="helpText" class="helpDisplayClass"></div>
</p-sidebar>