<div class="ui-g ui-g-nopad mainHeader">
    <div class="ui-g-12 ui-md-10 ui-lg-10 ui-g-nopad" style="padding: 5px 5px 5px 10px">
        Emails <i class="fa fa-question-circle fa-5x" pTooltip="Get Help" style="cursor:help; font-size: 25px; color: orange; vertical-align: middle;padding-bottom: 5px" (click)="commonSvc.showHelp('EmailSelect.htm')"></i>
    </div>
    <div class="ui-g-3 ui-md-2 ui-g-nopad">
        <div class="ui-g-3 ui-md-6"></div>
        <div class="ui-g-3 ui-md-4"></div>
        <div class="ui-g-6 ui-md-2 ui-g-nopad"></div>
    </div>
</div>
<ng-container *ngIf="IsSecure">
    <div class="ui-g" style="height:50px;">
        <div class="ui-g-12" style="text-align: right;padding-right:0px;">
            <button pButton icon="fa fa-plus fa-1x" pTooltip="Add New Email" tooltipPosition="bottom" class="ui-button-info" label="Add New Email" *ngIf="!_HasEdit" (click)="addEmail()"></button>
        </div>
    </div>
    <div class="ui-g" style="background: #e7e7e7;" *ngIf="showReport && _recData === 0">
        <div class="ui-g-12 ui-md-6 ui-lg-6 NoDataMessage">
            No matching data for the selected criteria
        </div>
    </div>
    <div class="ui-g" *ngIf="showReport && _recData > 0">
        <div class="ui-g-12">
            <p-table #dt [columns]="cols" [value]="_lstEmails" [paginator]="true" [rows]="20" [responsive]="false" dataKey="Id" [scrollable]="true">
                <ng-template pTemplate="caption">
                    <div class="ui-g ui-g-nopad recordsBar">
                        <div class="ui-g-12 ui-md-5 ui-lg-5 ui-sm-12 recordsFound">{{_recData}} email types found</div>
                        <div class="ui-g-12 ui-md-5 ui-lg-5 ui-sm-12 smLeft" style="text-align: right">
                            <input type="text" pInputText size="30" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:15em"> &nbsp;
                        </div>
                        <div class="ui-g-12 ui-md-2 ui-lg-2 ui-sm-12 smLeft" style="text-align: right">
                            <button type="button" pButton icon="fa fa-table" label="Export" (click)="dt.exportCSV()"></button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width: 5em" *ngIf="!_HasEdit">Edit</th>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width">
                            {{col.header}}
                            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
                            </p-sortIcon>
                        </th>
                        <th style="width: 5em" *ngIf="!_HasEdit">Delete</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
                    <tr [pSelectableRow]="rowData">
                        <td style="width: 5em;text-align: center" *ngIf="!_HasEdit">
                            <i class="fa fa-edit fa-150x editIcon" pTooltip="Click to update this email" tooltipPosition="bottom" (click)="editEmail(rowData)"></i>
                        </td>
                        <td *ngFor="let col of columns" style="word-break: break-word;" [style.text-align]="col.align" [style.width]="col.width">
                            <div *ngIf="(col.header.indexOf('Is High Priority') >= 0 
            || col.header.indexOf('Is Subject Template') >= 0 
            || col.header.indexOf('Is Body Template') >= 0 
            || col.header.indexOf('Is Signature Added') >= 0)">
                                {{rowData[col.field] === true ? 'Yes' : 'No'}}
                            </div>

                            <div *ngIf="!(col.header.indexOf('Is High Priority') >= 0 
              || col.header.indexOf('Is Subject Template') >= 0 
              || col.header.indexOf('Is Body Template') >= 0 
              || col.header.indexOf('Is Signature Added') >= 0)">
                                {{rowData[col.field]}}
                            </div>
                        </td>
                        <td style="width: 5em;text-align: center" *ngIf="!_HasEdit">
                            <i class="fa fa-times fa-150x deleteIcon" pTooltip="Delete Email" tooltipPosition="left" (click)="deleteEmail(rowData)"></i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>


    <p-dialog [(visible)]="emailDialog" blockScroll="true" [responsive]="true" showEffect="fade" [modal]="true" [width]="500">
        <p-header>
            {{emailHdr}}
            <i class="fa fa-question-circle fa-150x" pTooltip="Get Help" style="cursor:help; font-size: 18px; color: orange; vertical-align: middle" (click)="commonSvc.showHelp('EmailUpdate.htm')"></i>
        </p-header>
        <form [formGroup]="_frmEmail">
            <div class="ui-g">
                <div class="ui-g-12" style="text-align:left" style="color:red;">
                    * marked fields are required to save the data.
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-12 ui-lg-12">
                    <div class="ui-g-12 ui-md-12 ui-lg-12">
                        Email Type <span class="mandatoryStar">* </span><br>
                        <div style="height:5px"></div>
                        <input *ngIf="!_IsEdit" type="text" pInputText style="width:100%" placeholder="Email Type" formControlName="txtEmailType">
                        <label *ngIf="_IsEdit"><b>{{_selectedEmail.EmailType}}</b></label>
                        <br>
                        <div style="height:5px"></div>
                        <p-checkbox binary="true" label="High Priority" [(ngModel)]="chkIsHighPriority" [ngModelOptions]="{standalone: true}" pToolTip="Check to indicate this email should be sent as a high priority email">
                        </p-checkbox>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-12">
                    <div class="ui-g-12 ui-md-12 ui-lg-12">
                        Subject <span class="mandatoryStar">* </span><i class="fa fa-info-circle fa-150x" pTooltip="Subject should have maximum length of 255" style="cursor:help; font-size: 16px; color: orange; vertical-align: bottom;"></i><br>
                        <div style="height:5px"></div>
                        <input type="text" maxlength="255" pInputText style="width:100%" placeholder="Subject" formControlName="txtSubject"><br>
                        <div style="height:5px"></div>
                        <p-checkbox binary="true" label="Subject used as template" [(ngModel)]="chkIsSubjectTemplate" [ngModelOptions]="{standalone: true}" pToolTip="If this is checked, the subject of the email will have additional text appended to it before being sent.">
                        </p-checkbox>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-12">
                    <div class="ui-g-12 ui-md-12 ui-lg-12">
                        Body <span class="mandatoryStar">* </span><br>
                        <div style="height:5px"></div>
                        <textarea rows="6" style="width:100%" pInputTextarea placeholder="Body" formControlName="txtBody"></textarea>
                        <div style="height:5px"></div>
                        <p-checkbox binary="true" label="Message used as template" [(ngModel)]="chkIsBodyTemplate" [ngModelOptions]="{standalone: true}" pToolTip="If this is checked, the email message will have additional text added to it before being sent. Text will be added where the {0} placeholder is located.">
                        </p-checkbox>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-12">
                    <div class="ui-g-12 ui-md-12 ui-lg-12">
                        Signature <span class="mandatoryStar">* </span><br>
                        <div style="height:5px"></div>
                        <textarea rows="4" style="width:100%" pInputTextarea placeholder="Signature" formControlName="txtSignature" pTooltip="Default signature to use for emails. Changing this text changes it on all emails that use the default signature."></textarea>
                        <div style="height:5px"></div>
                        <div style="font-size:12px;">
                            NOTE: Changing the signature changes it for all emails whose 'add default signature' box is checked.
                        </div>
                        <p-checkbox binary="true" label="Add Default Signature" [(ngModel)]="chkIsDefaultSignature" [ngModelOptions]="{standalone: true}" pToolTip="Check to indicate if the default signature should be added to this email before sending">
                        </p-checkbox>
                    </div>
                </div>
            </div>
        </form>
        <p-footer>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-12 ui-lg-12">
                    <div class="ui-g-12 ui-md-12 ui-lg-12">
                        <button pButton label="Save" class="ui-button-success" *ngIf="!_HasEdit" (click)="saveEmail()" [disabled]="hasFormErrors()"></button> &nbsp;
                        <button pButton label="Cancel" class="ui-button-danger" (click)="cancelEmail()"></button>
                    </div>
                </div>
            </div>
        </p-footer>

    </p-dialog>
</ng-container>

<p-progressSpinner class="positionMiddle" *ngIf="showSpinner" [style]="{width: '50px', height: '50px'}" strokeWidth="4" fill="#EEEEEE"></p-progressSpinner>