<p-confirmDialog></p-confirmDialog>
<div class="ui-g ui-g-nopad mainHeader">
  <div class="ui-g-12 ui-md-10 ui-g-nopad" style="padding-top: 5px;padding-left:10px">
    Configuration Settings
  </div>
  <div class="ui-g-12 ui-md-2 ui-g-nopad">
    <div class="ui-g-12 ui-md-6"></div>
    <div class="ui-g-12 ui-md-4"></div>
    <div class="ui-g-12 ui-md-2 helpClass ui-g-nopad">
      <a (click)="showHelp('HolidaySelect.htm')" style="cursor: pointer;"><i class="fa fa-question fa-150x" style="padding-top:2px; color:black"></i></a>
    </div>
  </div>
</div>


<p-sidebar [(visible)]="visibleHelp" position="right" [baseZIndex]="10000" styleClass="ui-sidebar-md" >
    <div [innerHtml]="helpText" class="helpDisplayClass"></div>
</p-sidebar>