<div class="ui-g ui-g-nopad mainHeader">
  <div class="ui-g-12 ui-md-10 ui-g-nopad" style="padding-top: 5px;padding-left:10px">
    Configuration Settings
  </div>
  <div class="ui-g-12 ui-md-2 ui-g-nopad">
    <div class="ui-g-12 ui-md-6"></div>
    <div class="ui-g-12 ui-md-4"></div>
    <div class="ui-g-12 ui-md-2 helpClass ui-g-nopad">
      <a style="cursor: help;"><i class="fa fa-question fa-150x" style="padding-top:2px; color:black"></i></a>
    </div>
  </div>
</div>
<br>
<p-tabView>
  <p-tabPanel header="App Settings">
    <ng-template pTemplate="content">
      <app-appsettings></app-appsettings>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel header="Page Settings">
    <ng-template pTemplate="content">
      <app-accessrights></app-accessrights>
    </ng-template>
  </p-tabPanel>
</p-tabView>

<p-sidebar [(visible)]="visibleHelp" position="right" [baseZIndex]="10000" styleClass="ui-sidebar-md sidebarHelp">
  <div [innerHtml]="helpText" class="helpDisplayClass"></div>
</p-sidebar>