<div class="ui-g ui-g-nopad mainHeader">
    <div class="ui-g-12 ui-md-10 ui-lg-10 ui-g-nopad" style="padding: 5px 5px 5px 10px">
      Configuration Settings <i class="fa fa-question-circle fa-5x" pTooltip="Get Help"
        style="cursor:help; font-size: 25px; color: orange; vertical-align: middle;padding-bottom: 5px"
        (click)="commonSvc.showHelp('')"></i>
    </div>
  </div>
<br>
<p-tabView>
  <p-tabPanel header="App Settings">
    <ng-template pTemplate="content">
      <app-appsettings></app-appsettings>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel header="Page Settings">
    <ng-template pTemplate="content">
      <app-accessrights></app-accessrights>
    </ng-template>
  </p-tabPanel>
</p-tabView>