<p-table #dt [columns]="cols" [value]="_approvals" [paginator]="true" [rows]="20" [responsive]="false" dataKey="Id"
  (sortFunction)="customSort($event)" [customSort]="true">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th>
        Edit
      </th>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width">
        {{col.header}}
        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
          ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
        </p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td style="text-align: center">
        <i class="fa fa-edit fa-150x editIcon" pTooltip="Approve this TimeSheet" tooltipPosition="bottom"
          (click)="approveTimeSheet(rowData)"></i>
      </td>
      <td *ngFor="let col of columns" [style.text-align]="col.align" [style.width]="col.width">
        <div *ngIf="(col.field === 'PeriodEnd' || col.field === 'CreatedOn'); else nondatecol">
          <div *ngIf="(col.field === 'PeriodEnd'); else nondatetimecol">
            <label>{{rowData[col.field] | dateFormat: _DisplayDateFormat}} </label>
            <!-- <label>{{rowData[col.field]}} </label> -->
          </div>
          <ng-template #nondatetimecol>
            <label>{{rowData[col.field] | dateFormat: _DisplayDateTimeFormat}} </label>
          </ng-template>
        </div>
        <ng-template #nondatecol>
          {{rowData[col.field]}}
        </ng-template>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td colspan="4" align="center">
        No records found
      </td>
    </tr>
  </ng-template>
</p-table>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>