<div class="ui-g ui-g-nopad mainHeader">
  <div class="ui-g-12 ui-md-10 ui-lg-10 ui-g-nopad" style="padding: 5px 5px 5px 10px">
    Administration
  </div>
</div>
<br>

<ng-container *ngIf="IsSecure">

  <div class="ui-g" *ngIf="PendingTimesheetsNotification">
    <div class="ui-g-12 ui-md-12">
      <div class="ui-g-12 ui-md-12 ui-lg-12 timesheetNotification">
        {{PendingTimesheetsNotification}}
      </div>
    </div>
  </div>

  <div class="ui-g">

    <div class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad">

      <div class="ui-g-12 ui-md-12" *ngIf="showOutStandingTimesheets">
        <div class="ui-g-12 ui-md-12 cardBlock">
          <div class="ui-g-12 ui-md-12 cardBlockHeader">
            Outstanding Timesheets
          </div>
          <div class="ui-g-12 ui-md-12">
            <app-outstandingtimesheets></app-outstandingtimesheets>
          </div>
        </div>
      </div>

      <div class="ui-g-12 ui-md-12" *ngIf="showApprovalTimesheets">
        <div class="ui-g-12 ui-md-12 cardBlock">
          <div class="ui-g-12 ui-md-12 cardBlockHeader">
            Approval Timesheets
          </div>
          <div class="ui-g-12 ui-md-12">
            <app-approvaltimesheets></app-approvaltimesheets>
          </div>
        </div>
      </div>

    </div>

    <div class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad">

      <div class="ui-g-12 ui-md-12" *ngIf="showOutStandingTimesheets">
        <div class="ui-g-12 ui-md-12 cardBlock">
          <div class="ui-g-12 ui-md-12 cardBlockHeader">
            Utilization Details
          </div>
          <div class="ui-g-12 ui-md-12">
            <app-utilizationchart></app-utilizationchart>
          </div>
        </div>
      </div>

    </div>

  </div>

</ng-container>

<p-progressSpinner class="positionMiddle" *ngIf="showSpinner" [style]="{width: '50px', height: '50px'}" strokeWidth="4"
  fill="#EEEEEE"></p-progressSpinner>
