<!-- <div class="ui-g ui-md-12 ui-lg-12" style="height:70px;font-size:30px;">
  
</div> -->
<div class="ui-g ui-g-nopad mainHeader">
  <div class="ui-g-12 ui-md-10 ui-lg-10 ui-g-nopad" style="padding: 5px 5px 5px 10px">
    Administration
    <!-- <i class="fa fa-question-circle fa-5x" pTooltip="Get Help" style="cursor:help; font-size: 25px; color: orange; vertical-align: middle;padding-bottom: 5px"
          (click)="showHelp('')"></i> -->
  </div>
</div>
<br>
<div class="ui-g">
  <div class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad">
    <div class="ui-g-12 ui-md-12">
      <div class="ui-g-12 ui-md-12 cardBlock">
        <div class="ui-g-12 ui-md-12 cardBlockHeader">
          Outstanding Timesheets
        </div>
        <div class="ui-g-12 ui-md-12">
          <app-outstandingtimesheets></app-outstandingtimesheets>
        </div>
      </div>
    </div>
    <div class="ui-g-12 ui-md-12">
      <div class="ui-g-12 ui-md-12 cardBlock">
        <div class="ui-g-12 ui-md-12 cardBlockHeader">
          Approval Timesheets
        </div>
        <div class="ui-g-12 ui-md-12">
          <app-approvaltimesheets></app-approvaltimesheets>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad">
    <div class="ui-g-12 ui-md-12">
      <div class="ui-g-12 ui-md-12 cardBlock">
        <div class="ui-g-12 ui-md-12 cardBlockHeader">
          Utilization Details
        </div>
        <div class="ui-g-12 ui-md-12">
          <app-utilizationchart></app-utilizationchart>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 
<div class="ui-g">
  <div class="ui-g-12 ui-md-3">
    <div class="ui-g-12 ui-md-12 cardBlock">
      <div class="ui-g-12 ui-md-12 cardBlockMenuHeader">
        Employees
      </div>
      <div class="ui-g-12 ui-md-12">

      </div>
    </div>
  </div>
  <div class="ui-g-12 ui-md-3">
    <div class="ui-g-12 ui-md-12 cardBlock">
      <div class="ui-g-12 ui-md-12 cardBlockMenuHeader">
        Holidays
      </div>
      <div class="ui-g-12 ui-md-12">

      </div>
    </div>
  </div>

  <div class="ui-g-12 ui-md-3">
    <div class="ui-g-12 ui-md-12 cardBlock">
      <div class="ui-g-12 ui-md-12 cardBlockMenuHeader">
        Billing Codes
      </div>
      <div class="ui-g-12 ui-md-12">

      </div>
    </div>
  </div>

  <div class="ui-g-12 ui-md-3">
    <div class="ui-g-12 ui-md-312 cardBlock">
      <div class="ui-g-12 ui-md-12 cardBlockMenuHeader">
        Customers
      </div>
      <div class="ui-g-12 ui-md-12">

      </div>
    </div>
  </div>
</div> -->

<!-- 
<div class="ui-g">
  <div class="ui-g-12 ui-md-3">
    <div class="ui-g-12 ui-md-12 cardBlock">
      <div class="ui-g-12 ui-md-12 cardBlockMenuHeader">
        Year End
      </div>
      <div class="ui-g-12 ui-md-12">

      </div>
    </div>
  </div>

  <div class="ui-g-12 ui-md-3">
    <div class="ui-g-12 ui-md-12 cardBlock">
      <div class="ui-g-12 ui-md-12 cardBlockMenuHeader">
        Error Log
      </div>
      <div class="ui-g-12 ui-md-12">

      </div>
    </div>
  </div>

  <div class="ui-g-12 ui-md-3">
    <div class="ui-g-12 ui-md-12 cardBlock">
      <div class="ui-g-12 ui-md-12 cardBlockMenuHeader">
        Report
      </div>
      <div class="ui-g-12 ui-md-12">

      </div>
    </div>
  </div>

  <div class="ui-g-12 ui-md-3">
    <div class="ui-g-12 ui-md-12 cardBlock">
      <div class="ui-g-12 ui-md-12 cardBlockMenuHeader">
        Configuration
      </div>
      <div class="ui-g-12 ui-md-12">

      </div>
    </div>
  </div> 
</div>-->
