/* You can add global styles to this file, and also import other style files */
body {
    background-color: #f5f7f8!important;
    margin: 0px;
    top: 100px;
    font-size: 1em !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: steelblue;
  }




.leftNav1 .ui-menu {
	padding: 0;
	background-color: white;
  border: 1px solid white;
  width: 100%;
}
.leftNav1 .ui-menu .ui-menuitem-link .ui-menuitem-text, body .ui-menubar .ui-menuitem-link .ui-menuitem-text, body .ui-tieredmenu .ui-menuitem-link .ui-menuitem-text, body .ui-contextmenu .ui-menuitem-link .ui-menuitem-text, body .ui-megamenu .ui-menuitem-link .ui-menuitem-text, body .ui-slidemenu .ui-menuitem-link .ui-menuitem-text {
	color: black;
}
.leftNav1 .ui-menu .ui-menuitem-link .ui-menuitem-icon, body .ui-menubar .ui-menuitem-link .ui-menuitem-icon, body .ui-tieredmenu .ui-menuitem-link .ui-menuitem-icon, body .ui-contextmenu .ui-menuitem-link .ui-menuitem-icon, body .ui-megamenu .ui-menuitem-link .ui-menuitem-icon, body .ui-slidemenu .ui-menuitem-link .ui-menuitem-icon {
	color:black;
	margin-right: 0.5em;
}
body .ui-sidebar{
  background-color: white;
}
body .ui-slidemenu {
	padding: 0;
	background-color: white;
	border: 1px solid white;
}

/* .mainHeader{
  font-size:24px;
  color:dodgerblue;
  background-color: aliceblue;
  height: 45px;
  border:solid 1px dodgerblue;
  border-radius: .3em;
} */

.mainHeader{
  font-size: 24px;
  color: dodgerblue;
  background-color: aliceblue;
  /* border: solid 1px #b3b3b3; */
  border-right: 0px;
  border-left: 0px;
  /* padding: 15px 5px 5px 5px; */
  box-shadow: 0 0px 5px 1px rgba(0,0,0,.3);
  margin-top: 10px;
}
.editIcon{
  cursor:pointer;
  color:green
}
.deleteIcon{
  cursor:pointer;
  color:red
}
.viewIcon{
  cursor:pointer;
  color:#007ad9;
}
.helpClass{
  /* background-color: gold; */  
  /* border-top-right-radius: .3em;
  border-bottom-right-radius: .3em; */
  height: 43px;
  text-align: center;
  color:dodgerblue!important;
}

.recordsFound
{
  color:white;
  text-align: left;
  vertical-align: middle;
  font-weight: normal;
  padding-top:5px;
  padding-left:10px;
}

.recordsBar
{
  background-color:#333333;
  padding:2px;
}

.helpDisplayClass
{
  color:black;
  font-size: 10pt;
}



.dialogHeader .ui-dialog-titlebar.ui-widget-header {
  background-color: lightgreen !important;
  color: #0078d7 !important;
}

/*To make the background of the dialog's body white*/
/* .ui-dialog.dialogHeader .ui-dialog-content {
  background-color: white !important;
  color: #0078d7 !important;
} */

.ui-dialog-titlebar.ui-widget-header {
  background-color: black !important;
  color: white !important;
}


.ui-sidebar.sidebarHelp {
  background-color: #FBFCC5 !important;
   color: black !important;
   width:400px;
}
  
  
  
  /*To make the background of the dialog's body white*/
  /* .ui-dialog.dialogHeader .ui-dialog-content {
   background-color: white !important;
   color: #0078d7 !important;
  } */
  
  
  
  .ui-dialog-titlebar.ui-widget-header {
  background-color: black !important;
  color: white !important;
  }
  
  
  
  
  .ui-sidebar.sidebarHelp {
  background-color: #FBFCC5 !important;
  color: black !important;
  
  } 
 

 /* @media screen and (max-width: 40em) {
    .ui-dialog.ui-dialog-responsive {
        width: 550px !important;
    }
}*/

.checkboxLabel .ui-chkbox-label{
  color: red !important;
}
body .ui-panel .ui-panel-content {
  padding: 0.571em 1em;
  border: 1px solid !important;
  background-color: #e7e7e7 !important;
  color: #dedede;
  padding: 0.571em 1em;
}
.ui-panel .ui-panel-footer {
  border-width: 1px 0 0;
  padding: .25em .5em;
  text-align: left !important;
}

.panelEmpBilling .ui-panel .ui-panel-content{
  color: black !important;
}
.positionMiddle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  .label
{
    /* font-weight: bold; */
    padding-top: 13px;
    text-align: right;
    color: #329AFF;
}
/* body .ui-table .ui-table-caption, body .ui-table .ui-table-summary {
  background-color: black;
  border: 1px solid black;
} */


.custombar1 .ui-scrollpanel-wrapper {
  border-right: 9px solid #f4f4f4;
}
  
.custombar1 .ui-scrollpanel-bar {
  background-color: #1976d2;
  opacity: 1;
  transition: background-color .3s;
}
  
.custombar1 .ui-scrollpanel-bar:hover {
  background-color: #135ba1;
}

.tablePadding .ui-table{
  padding-right:9px!important;
}

.errorBlock{
  padding:15px;
  background-color: #ffffff;
  color:crimson;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  border: 1px solid #ffaebe;
}
.errorBlockHeader{
  padding:7px;
  background-color: #ffffff;
  color:crimson;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  border: 1px solid #ffaebe;
}
.warningBlock{
  padding:15px;
  background-color: #ffffff;
  /* color:#ff7400; */
  color:green;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  /* border:1px solid #fcac6a; */
  border:1px solid lightgreen;
}
.warningBlockHeader{
  padding:7px;
  background-color: #ffffff;
  /* color:#ff7400; */
  color:green;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  /* border:1px solid #fcac6a; */
  border:1px solid lightgreen;
}
.successBlock{
  padding:15px;
  background-color: #ffffff;
  color:green;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  border:1px solid lightgreen;
}

.ActiveRouteLink{
  /* background: darkturquoise, darksalmon, burlywood, blanchedalmond,lavender,peachpuff; */
  background:peachpuff;
}

/* .ActiveRouteLink .ui-menuitem-link{
color:red;
} */
