<form [formGroup]="pageFormgroup">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="ui-g-12 ui-md-1">Role :</div>
      <div class="ui-g-12 ui-md-2">
        <p-dropdown [options]="_roles" formControlName="roleDrp" placeholder="Please select a Role" (onChange)="onRoleChange($event)"></p-dropdown>
      </div>
    </div>
    <div class="ui-g-12" *ngIf="_showGrid">
      <p-scrollPanel [style]="{width: '100%', height: '550px'}">
        <p-table #dt [columns]="cols" [value]="_pages" [(selection)]="_selectedPages" [responsive]="false" dataKey="ID">
          <ng-template pTemplate="caption">
            <div class="ui-g ui-g-nopad recordsBar">
              <div class="ui-g-12 ui-md-6 ui-g-nopad recordsFound">{{_recData}}</div>
              <div class="ui-g-12 ui-md-6 ui-g-nopad" style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0;color:black"></i>
                <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')"
                  style="width:auto"> &nbsp;
                <button type="button" pButton icon="fa fa-table" label="Export" (click)="dt.exportCSV()"></button>
              </div>
            </div>
            <!-- <div class="ui-g ui-g-nopad recordsBar">
              <div class="ui-g-5 ui-md-8 ui-g-nopad recordsFound">{{_recData}}</div>
              <div class="ui-g-4 ui-md-4 ui-g-nopad" style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0;color:black"></i>
                <input type="text" pInputText placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')"
                  style="width:100%">
              </div>
              <div class="ui-g-3 ui-md-3 ui-g-nopad" style="text-align: right">
                <button type="button" pButton icon="fa fa-table" label="Export" (click)="dt.exportCSV()"></button>
              </div>
            </div> -->
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th style="width:3em;">

              </th>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
            <tr [pSelectableRow]="rowData">
              <td style="text-align: center">
                <p-checkbox binary="true" formControlName="chkPage_{{rowData['ID']}}" (onChange)="toggleControls(rowData['ID'])">
                </p-checkbox>
              </td>
              <td *ngFor="let col of columns">
                <div *ngIf="col.header === 'Edit'; else columnName" style="text-align:center">
                  <div *ngIf="rowData.HasEdit === 1" style="text-align:center">
                    <p-inputSwitch id="Edit{{rowData['ID']}}" formControlName="editSwitch_{{rowData['ID']}}"></p-inputSwitch>
                  </div>
                </div>
                <ng-template #columnName>
                  {{rowData[col.field]}}
                </ng-template>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-scrollPanel>
    </div>
    <div class="ui-g" *ngIf="_showGrid" style="width: 100%; text-align: right">
      <div class="ui-g-12 ui-md-12 ui-lg-12">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
          <button pButton label="Save" (click)="savePages()"></button>
          &nbsp;
          <button pButton label="Cancel" (click)="cancelPages()"></button>
        </div>
      </div>
    </div>
  </div>
  <p-toast [style]="{marginTop: '80px'}" position="top-center" key="saveSuccess"></p-toast>
</form>